@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Oswald';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --primary: #FB5B21;
  --dark-primary: #ea4a0f;
  --secondary: #BDBDBF;
  --light: #F4F5F8;
  --dark: #222429;
}

.bold {
  font-weight: bold;
}

.my-btn {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: var(--primary);
  transition: .5s;
  padding: 5px 20px;
  border-radius: 10px;
}

.my-primary {
  color: var(--primary);
}

.my-primary:hover {
  color: var(--dark-primary);
}

.my-btn:hover {
  background-color: var(--dark-primary);
  color: var(--light);
}

@media screen and (max-width: 600px) {
  .md-margin-top {
    margin-top: 20px;
  }
}

.my-carousel-img {
  width: 100%;
  filter: brightness(50%);
  display: block;
}

.about-container {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.about-img {
  width: 40%;
  overflow: hidden;
}

.about-img-img {
  overflow: hidden;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.about-img-img img {
  width: 100%;
}

.about-content {
  width: 60%;
  padding: 20px 30px;
}

.text-body {
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .about-container {
    flex-direction: column;
  }

  .about-img {
    width: 100%;
  }

  .about-content {
    width: 100%;
    margin-top: -140px;
  }
}

.training-outer {
  margin-top: -100px;
  background-color: var(--dark);
  padding: 30px 0;
}

@media screen and (max-width: 600px) {
  .training-outer {
    margin-top: -5px;
  }
}

.rounded-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .training-inner::before {
  content: "";
  width: 100%;
  height: 400px;

} */

a {
  text-decoration: none;
}